<h4 class="text-muted">Tal's Shop > Cart</h4>
<div class="search_holder">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="input-group mb-3">
        <form>
          <input
            class="search_input"
            type="text"
            name="search_q"
            [(ngModel)]="search"
            value="search"
            (keydown)="preventCursorToStart($event)"
            (keyup)="hanldeSearch($event)"
            class="form-control"
            placeholder="Product Name"
            aria-label="Product Name"
            aria-describedby="basic-addon2"
          />

          <mat-icon>search</mat-icon>
          <div
            class="drop"
            (scroll)="onElementScroll($event)"
            #drop_elem
            *ngIf="(productOb$ | async)?.length != 0 && openDropDown"
          >
            <div
              class="spinner-border text-info"
              role="status"
              *ngIf="visibleLoader"
            >
              <span class="sr-only">Loading...</span>
            </div>

            <div
              class="res"
              *ngFor="let p of products; let i = index"
              [class.active]="i == selectedOptionIndex"
              (click)="addToCart(p)"
              (mouseover)="selectedOptionIndex = i"
            >
              {{ p.name }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-cart-comp></app-cart-comp>
